@font-face {
  font-family: "Hanken";
  src: url("assets/fonts/Hanken.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .card {
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 10px #807b7b;
}
.main .card .left-side {
  width: 50%;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.main .card .left-side h3 {
  color: hsl(241, 100%, 89%);
  font-size: 16px;
}
.main .card .left-side .circle {
  margin: 20px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .card .left-side .circle h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  line-height: 1;
}
.main .card .left-side .circle p {
  color: hsl(241, 100%, 89%);
  font-size: 14px;
}
.main .card .left-side .content h2 {
  color: hsl(0, 0%, 100%);
}
.main .card .left-side .content p {
  color: hsl(241, 100%, 89%);
  font-size: 14px;
  padding: 15px;
}
.main .card .right-side {
  width: 50%;
  background-color: aquamarine;
  padding: 20px;
}
.main .card .right-side h2 {
  color: hsl(224, 30%, 27%);
  font-size: 16px;
}
.main .card .right-side ul {
  list-style-type: none;
  margin: 15px 0;
}
.main .card .right-side ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}
.main .card .right-side ul li .reaction-item, .main .card .right-side ul li .memory-item, .main .card .right-side ul li .verbal-item, .main .card .right-side ul li .visual-item {
  display: flex;
  align-items: center;
}
.main .card .right-side ul li .reaction-item img, .main .card .right-side ul li .memory-item img, .main .card .right-side ul li .verbal-item img, .main .card .right-side ul li .visual-item img {
  margin-right: 5px;
}
.main .card .right-side ul li .count span {
  opacity: 0.6;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}
.main .card .right-side ul .reaction {
  background: #fff0f0;
}
.main .card .right-side ul .reaction .reaction-item b {
  color: hsl(0, 100%, 67%);
}
.main .card .right-side ul .memory {
  background-color: #fff8eb;
}
.main .card .right-side ul .memory .memory-item b {
  color: hsl(39, 100%, 56%);
}
.main .card .right-side ul .verbal {
  background-color: #d6fff5;
}
.main .card .right-side ul .verbal .verbal-item b {
  color: hsl(166, 100%, 37%);
}
.main .card .right-side ul .visual {
  background-color: #ebe6ff;
}
.main .card .right-side ul .visual .visual-item b {
  color: hsl(252, 100%, 67%);
}
.main .card .right-side button {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border: 0;
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  margin-top: 12px;
  box-shadow: 5px 4px 33px -11px rgba(0, 0, 0, 0.75);
}
.main .card .right-side button:hover {
  background-color: hsl(252, 100%, 67%);
}

@media (max-width: 768px) {
  .main .card {
    border-radius: initial;
    flex-direction: column;
  }
  .main .card .left-side, .main .card .right-side {
    width: 100%;
  }
  .main .card .left-side {
    border-radius: 0px 0px 30px 30px;
  }
}/*# sourceMappingURL=styles.css.map */