@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
$Blue-opacity: #e9ebf18f;

.container{
    width: 100%;
    min-height: 100dvh;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: $Pale-blue;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
      
        max-width: 320px;
        height: fit-content;
        background-color: $Very-pale-blue;
        border-radius: 0.8rem;
        overflow: hidden;
        .cover-img{
            width: 100%;
        }
        .content-container{
            background-color: $Very-pale-blue;
            padding: 0 2rem 2rem;
            .content{
                margin: 1rem 0;
                text-align: center;
               
                h2{
                    font-weight: 900;
                    font-size: 1.2rem;
                    color: $Dark-blue;
                }
                p{
                    margin-top: 0.7rem;
                    color:$Desaturated-blue;
                    font-size: 14px;
                }
            }
            .plan-card{
                display: flex;
                background-color: $Blue-opacity;
                border-radius: 0.6rem;
                padding: 1rem;
                justify-content: space-between;
                align-items: center;
                .plan-detail{
                    display: flex;
                
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    .plan{
                        margin-left: 1rem;
                        h5{
                            font-weight: 900;
                            font-size: 0.8rem;
                            color: $Dark-blue;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                a{
                    color: $Bright-blue;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .payment{
                margin: 1.6rem 0;
                background-color: $Bright-blue;
                color: $Very-pale-blue;
                display: block;
                text-decoration: none;
                padding: 0.5rem;
                text-align: center;
                border-radius: 0.5rem;
                font-weight: 700;
                font-size: 14px;
                box-shadow: 0 8px 10px $Desaturated-blue;
            }
            .cancel{
                color: $Desaturated-blue;
                text-align: center;
                font-size: 13px;

                font-weight: 900;
            }
        }
        
    }
}

